body{
  position: relative;
  /* background-color: #000; */
}
.container{
  /* display: flex; */
  overflow: hidden;
  background-color: #fff;
}
.invoiceBox > div{
  padding: 20px;
}

.listBox{
  width: 100%;
}
.topBar{
  display: flex;
  margin-bottom: 20px;
  padding: 0 2px;
  justify-content: space-between;
}
.topBar .btnDesc{
  color: #000;
}
.topBar .btnDesc:hover{
  color: blue;
}
.tip{
  color: red;
  margin-top: 30px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}


/* --- 表格 --- */
.awardTable{
  width: 100%;
}
.awardTable tr:nth-child(odd){
  background-color: #eee;
}
.awardTable tr:first-child{
  color: #fff;
  background-color: #b47dda;
}
.awardTable td{
  border-bottom: 1px solid #ddd;
}
.awardTable tr:first-child td{
  border: 1px solid #b47dda;
}
.awardTable td p{
  margin-bottom: 10px;
}
.awardTable td p:last-child{
  margin-bottom: 0;
}


.subtotal{
  width: 40%;
  margin-right: 0;
  margin-left: auto;
  padding: 10px;
  text-align: right;
}
.total{
  color: orange;
  padding: 10px 15px 0 0;
  text-align: right;
  font-size: 1.25rem;
  font-weight: bold;
}
