.body{
  position: relative;
}
.invoiceBox{
  display: flex;
}
.invoiceBox > div{
  padding: 20px;
}

.sideNav{
  width: 150px;
  min-width: 150px;
  border-right: 1px solid #ddd;
}
.sideNav select{
  font-size: 1.15rem;
  margin-bottom: 20px;
}
.sideNav ul li{
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
}
.sideNav ul li:last-child{
  margin-bottom: 0;
}
.sideNav ul li a{
  color: #fff;
  background-color: orange;
  border: 1px solid orange;
  padding: 15px 0;
}
.sideNav ul li a.active{
  background-color: #ee7f3f;
  border: 1px solid #ee7f3f;
  pointer-events: none;
}
.sideNav ul li a:hover{
  color: orange;
  background-color: #fff;
} 



.listBox{
  width: 100%;
}
.topBar{
  display: flex;
  margin-bottom: 20px;
  padding: 0 2px;
  justify-content: space-between;
}
.topBar .btnDesc{
  color: #000;
}
.topBar .btnDesc:hover{
  color: blue;
}
.tip{
  color: red;
  margin-bottom: 10px;
}


/* --- 提示視窗 --- */
.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333333dd;
}
.descBox{
  display: none;
  position: absolute;
  width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 30px;
  font-size: 1.15rem;  
  letter-spacing: 1.2px;
  border: 1px solid #ddd;
  border-radius: 10px;
  z-index: 10;
}
.descBox .topDiv{
  display: flex;
  justify-content: space-between;
}
.descBox .btnClose{
  display: inline-block;
  color: #000;
  font-size: 2rem;
}
.descBox .btnClose:hover{
  color: orange;
}
.descBox h3{
  margin-bottom: 15px;
}
.descBox p{
  margin-bottom: 10px;
}
.descBox span{
  display: inline-block;
  width: 70px;
  margin-right: 5px;
  text-align: right;
}
.descBox table td{
  border: 1px solid #ddd;
}


/* --- 表格 --- */
.listTable tr:first-child{
  color: #fff;
  background-color: #b47dda;
}
.listTable td{
  border: 1px solid #ddd;
  width: 33%;
}
.listTable tr:first-child td{
  border: 1px solid #b47dda;
}
.listTable td p{
  margin-bottom: 10px;
}
.listTable td p:last-child{
  margin-bottom: 0;
}
.btnAward{
  color: #fff;
  background-color: orange;
  border: 1px solid orange;
}
.btnAward:hover{
  color: orange;
  background-color: #fff;
}