body{
  position: relative;
}
.invoiceBox{
  display: flex;
}
.invoiceBox > div{
  padding: 20px;
}

.sideNav{
  width: 150px;
  min-width: 150px;
  border-right: 1px solid #ddd;
}
.sideNav select{
  font-size: 1.15rem;
  margin-bottom: 20px;
}
.sideNav ul li{
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
}
.sideNav ul li:last-child{
  margin-bottom: 0;
}
.sideNav ul li a{
  color: #fff;
  background-color: orange;
  border: 1px solid orange;
  padding: 15px 0;
}
.sideNav ul li a.active{
  background-color: #ee7f3f;
  border: 1px solid #ee7f3f;
  pointer-events: none;
}
.sideNav ul li a:hover{
  color: orange;
  background-color: #fff;
} 



.listBox{
  width: 100%;
}
.topBar{
  display: flex;
  margin-bottom: 20px;
  padding: 0 2px;
  justify-content: space-between;
}
.tip{
  color: red;
  padding: 10px;
  text-align: center;
}
.listTable tr:nth-child(odd){
  background-color: #eee;
}
.listTable tr:first-child{
  color: #fff;
  background-color: #b47dda;
}
.listTable td:first-child{
  width: 120px;
}
.listTable td:nth-child(2){
  width: 140px;
}
.listTable td:nth-last-child(3){
  width: 180px;
}
.listTable td:last-child{
  width: 90px;
} 
.listTable tr.itemEdit td{
  background-color: yellowgreen;
}


.btnEdit{
  background-color: orange;
  border: 1px solid orange;
}
.btnEdit:hover{
  color: orange;
  background-color: #fff;
}
.btnSave{
  background-color: #3dcff1;
  border: 1px solid #3dcff1;
  margin-bottom: 5px;
} 
.btnSave:hover{
  color: #3dcff1;
  background-color: #fff;
} 
.btnCancel{
  background-color: #ccc;
  border: 1px solid #ccc;
}
.btnCancel:hover{
  color: #ccc;
  background-color: #fff;
}
.btnDelAll{
  background-color: #666;
  border: 1px solid #666;
}
.btnDelAll:hover{
  color: #666;
}

.checkBox{
  width: 350px;
}
