.body{
  position: relative;
}
.invoiceBox{
  display: flex;
}
.invoiceBox > div{
  padding: 20px;
}

.sideNav{
  width: 150px;
  min-width: 150px;
  border-right: 1px solid #ddd;
}
.sideNav select{
  font-size: 1.15rem;
  margin-bottom: 20px;
}
.sideNav ul li{
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
}
.sideNav ul li:last-child{
  margin-bottom: 0;
}
.sideNav ul li a{
  color: #fff;
  background-color: orange;
  border: 1px solid orange;
  padding: 15px 0;
}
.sideNav ul li a.active{
  background-color: #ee7f3f;
  border: 1px solid #ee7f3f;
  pointer-events: none;
}
.sideNav ul li a:hover{
  color: orange;
  background-color: #fff;
} 



.listBox{
  width: 100%;
  /* margin: 0 auto; */
}
.topBar{
  display: flex;
  margin-bottom: 20px;
  padding: 0 2px;
  justify-content: space-between;
}
.tip{
  color: red;
  padding: 10px;
  text-align: center;
}
.listTable tr:nth-child(odd){
  background-color: #eee;
}
.listTable tr:first-child{
  color: #fff;
  background-color: #b47dda;
}
.listTable tr:first-child td{
  /* border: 1px solid #b47dda; */
}
.listTable td{
  /* border: 1px solid #ddd; */
}
.listTable td:first-child{
  width: 120px;
}
.listTable td:nth-child(2){
  width: 140px;
}
.listTable td:nth-last-child(3){
  width: 180px;
}
.listTable td:last-child{
  width: 90px;
} 
.listTable tr.itemEdit td{
  background-color: yellowgreen;
}


.btnEdit{
  background-color: orange;
  border: 1px solid orange;
}
.btnEdit:hover{
  color: orange;
  background-color: #fff;
}
.btnSave{
  background-color: orange;
  border: 1px solid orange;
  margin-bottom: 5px;
} 
.btnSave:hover{
  color: orange;
  background-color: #fff;
} 
.btnCancel{
  background-color: orange;
  border: 1px solid orange;
}
.btnCancel:hover{
  color: orange;
}
.btnDelAll{
  background-color: #666;
  border: 1px solid #666;
}
.btnDelAll:hover{
  color: #666;
}


.overlay{
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333333dd;
}
.checkBox{
  /* display: none; */
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 30px;
  font-size: 1.15rem;  
  letter-spacing: 1.2px;
  border: 1px solid #ddd;
  border-radius: 10px;
  z-index: 10;
}
.checkBox .btn2{
  width: 50px;
  font-size: 1.25rem;
}
.checkBox .btnClose{
  background-color: #ccc;
  border: 1px solid #ccc;
}
.checkBox .btnClose:hover{
  color: #ccc;
  background-color: #fff;
}
.checkBox p{
  font-size: 1.25rem;
  margin-bottom: 15px;
}